/* ESTILOS QUE APLICAN PARA TODO EL DOCUMENTO */
html {
    font-family: 'Roboto' !important;
} 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ESTILOS PARA IMÁGENES */
img {
    width: 100%;
}

.imagen {
    background-color: #fff;
}

/* ESTILOS PARA EL HEADER */
header {
    background-color: #EAC926;
    padding: 10px;
}

header form {
    color: #ebebeb;
    border-radius: 5px;
    align-self: center;
}

.search-bar {
    /*display: flex;*/
    height: 30px;
}

/*header input,
header button {
    border: none;
}*/

header input {
    width: 200px;
}

header nav {
    display: none;
}

/* etiqueta p que debe ir centrada */
.header-centrado {
    text-align: center;
    font-weight: 400;
    padding: 10px;
}

/* Menú de navegación sin adornos */
.ul-no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Texto del menú de navegación sin adornos */
.ul-no-bullets li a {
    text-decoration: none;
    color: #03264C;
    font-size: 17px;
}

/* Párrafos en general */
header p {
    font-size: 12px;
}

header div {
    text-align: center;
}

.burger-menu {
    color: white;
    background-color: #03264C;
    margin-bottom: 10px;
    font-size: 2em;
    border-radius: 5px;
    width: 50px;
}

/* ESTILOS PARA LA SECCION MAIN */
main {
    background-color: #ebebeb;
    margin: auto;
    width: 90%;
}

main h3 {
    font-size: 24px;
}

.main-delivery {
    width: 40px;
    height: 40px;
    border: 1px solid #39b54a;
    padding: 9px;
    border-radius: 50%;
    color: #39b54a;
}

.main-precios {
    font-size: 18px;
}

.main-descuento {
    font-size: 16px;
    color: #39b54a;
}

.main-descripciones {
    display: none;
}

main article {
    padding: 5px;
}

.main-div-productos {
    padding: 15px;
    background-color: white;
    border-top: solid 1px #ebebeb;
}

footer section {
    text-align: center;
}

footer i {
    color: #03264C;
    font-size: 2em;
    margin-top: 10px;
}


/*
SELECTOR DE CLASE
*/
.parrafo-destacado {
    color: purple;
    font-style: italic;
    font-size: 30px;
}

/* SELECTOR DESCENDENTE
Se lee de atrás hacia adelante (todos los strong que se encuentre en un h2)
*/
h2 strong {
    color: green;
    background-color: blanchedalmond;
}

.parrafo-destacado em {
    text-transform: uppercase;
    background-color: aqua;
}

strong {
    font-size: 30px;
    font-style: italic;
}

/* MEDIA QUERIES */
/* Navegación en tablets */
@media(min-width: 769px) {
    header nav {
        display: initial;
    }

    .main-descripciones {
        display: initial;
    }

    .burger-menu,
    .header-burger {
        display: none;
    }

    main article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

/* Navegación en desktop */
@media(min-width: 1200px) {
    header nav {
        display: initial;
    }

    .main-descripciones {
        display: initial;
    }

    .header-imagen {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .header-texto {
        align-self: center;
    }

    .header-centrado {
        font-size: 16px;
        max-width: 200px;
        text-align: right;
    }

    .burger-menu,
    .header-burger {
        display: none;
    }

    header nav {
        display: flex;
        justify-content: space-between;
    }

    .ul-no-bullets {
        display: flex;
        justify-content: space-between;
    }

    .ul-no-bullets li {
        padding-left: 5px;
        padding-right: 5px;
    }
}

/*@media(min-width: 1200px) {
    .header-imagen,
    header nav {
        max-width: 1200px;
        border: 2px red dotted;
        margin: auto;
    }

    header nav {
        margin-top: 20px;
    }

    .ul-no-bullets li {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-centrado {
        max-width: none;
        font-weight: 400;
        font-style: 20px;
    }
}*/